{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Please input integer Number</legend>
                
                <div class="form-group">
                    
                    <small class="text-muted">Number</small>
                    {{ form.num_input(placeholder="Input Integer Value")}}
                    
                    
                    
                    
                    
                    {{ form.submit }}
                    <br>
                    {% for error in form.num_input.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
                    
                </div>
                
            </fieldset>
            <div class="form-group">
                
            </div>
            
        </form>
    </div>
    
{% endblock content %}